<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="form">
        <div class="form-title">
          Page Fetcher
           ex : 172839779540918
        </div>
        <div class="form-id-input">
            <input type="text" name="id">
        </div>
        <button class="form-submit-btn btn btn-primary">add</button>
      </div>
      <div class="error-message">

      </div>
      <div class="pages-index">
        <% @pages.each do |page| %>
          <div class="page-link">
            <%= link_to page.name, page_path(page) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('.form-submit-btn').on('click', function() {
    console.log('clic')
    var id = $('input').val()
    console.log(id)
    url = 'https://graph.facebook.com/' + id + '/posts'
    console.log(url)
    $.ajax({
      async: true,
      type: "GET",
      url: url,
      data: {
        "access_token": 'CAACEdEose0cBAHo0hVcSRztpukPsPI9dszUocSbmcNVgaeQLyq15qbs49Ur1rqvljMQzkYTxiQ25eGZCMm8GDZCOWTHk9lP8JYMua2gm8UE9DqsRO9PTlFaIVSZCjYZBx4ChrLCZAoMYNTUlD9p4RlZAwsVPsK45bAX41bVdnP15Ds0a753XQdtNmLQZAHIS1heCbwFJVW7WiqZCZA4gDeHro1K94ZCuGaFNN2WSfhqlpi1QZDZD'
      },
      success: function(data) {
        console.log(data['error'])
        if (data)
        $.ajax({
          async: true,
          type: "POST",
          url: '<%= pages_path %>',
          data: {
            fb_id: id,
            data
          },
          success: function(reponse) {
            console.log(reponse)
          }
        });
      },
      error: function(result) {
        $('.error-message').text('Can not load this page')
      }
    });
  })
</script>
